@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --link-colour: #3b82f6;
  --link-hover-colour: #ef4444;
}

.fancy-link {
  position: relative;
  color: var(--link-colour);
}

.fancy-link::after {
  content: "";
  position: absolute;
  top: 1.25em;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--link-colour);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.fancy-link:hover {
  cursor: pointer;
  color: var(--link-hover-colour);
}

.fancy-link:hover::after {
  background-color: var(--link-hover-colour);
  transform: scaleX(1);
  transform-origin: left;
}

.less-fancy-link {
  background: linear-gradient(to bottom, var(--link-colour), var(--link-colour));
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: left 1.1em;
  color: var(--link-colour);
  transition: all 0.4s ease-in-out;
}

.less-fancy-link:hover {
  background: linear-gradient(to bottom, var(--link-hover-colour), var(--link-hover-colour));
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: left 1.1em;
  color: var(--link-hover-colour);
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  padding: 2px;
}

::-webkit-scrollbar-track {
  background-color: rgb(31, 41, 55);
}

::-webkit-scrollbar-thumb {
  background-color: royalblue;
  border-radius: 2px;
  transition: all 0.4s ease-in-out;
}

body.dark .react-loading-skeleton {
  /* --base-color: #2f333c !important;
  --highlight-color: #444 !important; */
  --base-color: #314158 !important;
  --highlight-color: #435979 !important;
}

[data-testid="react-katex"] {
  font-size: clamp(0.75rem, 0.529rem + 0.98vw, 1rem);
}

body.dark .apexcharts-text {
  fill: #fff !important;
}

body.dark .apexcharts-tooltip,
body.dark .apexcharts-tooltip-title {
  background-color: #333 !important;
  color: #fff !important;
  border: 1px solid #555 !important;
}

body.dark .apexcharts-legend-text {
  color: #fff !important;
  border: none !important;
}
body.dark .apexcharts-title-text,
body.dark .apexcharts-subtitle-text {
  fill: #fff !important;
}
